*.pro.user
*.pro.user*
/.qtcreator/
fl5-lib/*.pro.user
fl5-lib/*.pro.user*
fl5-app/*.pro.user
fl5-app/*.pro.user*
XFoil-lib/*.pro.user
XFoil-lib/*.pro.user*
XFoil-lib/.qtcreator/*
flow5-lib/.qtcreator/*
flow5-io-lib/.qtcreator/*
API_examples/XFoilRun/.qtcreator/*
API_examples/XFoilBatchRun/.qtcreator/*
API_examples/PlaneRun1/.qtcreator/*
API_examples/PlaneRun2/.qtcreator/*
API_examples/PlaneRun3/.qtcreator/*
API_examples/PlaneRun4/.qtcreator/*
API_examples/PlaneRun5/.qtcreator/*
API_examples/PlaneRun6/.qtcreator/*
*.autosave



